{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta http-equiv="x-ua-compatible" content="ie=edge">
	  <title>{% block title %} Automated Result Management | Login {% endblock title %}</title>
	  	<!-- Font Awesome -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  	<!-- Bootstrap core CSS -->
	  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	  	<!-- Material Design Bootstrap -->
	  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
	  	<!-- Your custom styles (optional) -->
	  <link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>
	<body>
		<main>
			<div class="row">
	  			<div  class="col-md-2" style="margin-right: 50px; "></div>
	  				<div class="col-md-4">
	  					<center>
							<p id="icon" class="">  </p> 
	  					</center>
	  					{% if form.errors %}
					      	<h6 class="alert alert-warning alert-dismissible fade show" role="alert">
					      		Invalid username or password
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							  </button>
							</h6>
					    {% endif %}
						<div class="card">

				  			<h5 class="card-header info-color white-text text-center py-4">
				    			<strong>Sign in</strong>
				  			</h5>
				  		<div class="card-body px-lg-4 pt-0">
				    		<form method="post" action="{% url 'login' %}" class="text-center" style="color: #757575;">
				    			{% csrf_token %}
				      			{% for field in form %}
				      			<div class="md-form">
				       				{{ field }}
				        <label for="materialLoginFormEmail">{{ field.html_name }}</label>
				      </div>
				      {% endfor %}
				      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>
				      <input type="hidden" name="next" value="{{ next }}" />
				    </form>

				  </div>

				</div>
	  		</div>
	  		<div class="col-md-5"> </div>
			</div>
		</main>

		<footer>

		</footer>

	  <!-- SCRIPTS -->
	  <!-- JQuery -->
	  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	  <!-- Bootstrap tooltips -->
	  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
	  <!-- Bootstrap core JavaScript -->
	  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	  <!-- MDB core JavaScript -->
	  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
	</body>

</html>

