{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %} Automated Result Processing | Home {% endblock title%}</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body class="grey lighten-3">

    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="/">
                    <strong class="blue-text">School System</strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto"></ul>
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="{% if request.user.is_superuser %}{% url 'manage_semester' %}{% else %}#{% endif %}" class="nav-link border border-light grey-text rounded waves-effect">
                                <i class="fa fa-cogs mr-3"></i>{{ current_semester }} Semester
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% if request.user.is_superuser %}{% url 'manage_session' %}{% else %}#{% endif %}" class="nav-link border border-light green-text rounded waves-effect">
                                <i class="fa fa-cogs mr-3"></i>{{ current_session }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'profile' %}" class="nav-link border border-light rounded waves-effect blue-text">
                                <i  class="fa fa-user mr-3"></i>{{ user|capfirst }}
                            </a>
                        </li>

                         <li class="nav-item">
                            <a href="/accounts/logout/" class="nav-link border border-light rounded waves-effect red-text">
                                <i class="fa fa-unlock mr-3"></i>Logout
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->
        <!-- Sidebar -->
        <style type="text/css">
            .dashboard {
                display: block; 
                max-height: 500px; 
                overflow-y: auto; 
                -ms-overflow-style: 
                -ms-autohiding-scrollbar;
        }
        </style>
        <div class="sidebar-fixed position-fixed">
                <p style="margin-left: 30px;" id="icon" class=""></p> 
                {% if request.user.is_lecturer %}
                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    <span class="teal-text text-center"> Guru </span></p>
                {% elif request.user.is_student %}
                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    <span class="teal-text text-center"> Siswa</span></p>
                {% else %}
                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    <span class="teal-text text-center"> Admin</span></p>
                {% endif %}
            <div class="dashboard">
            {% block side_bar %}
                {% include 'partial_active_element.html' with active='Dashboard' %}
            {% endblock side_bar %}
            </div>

        </div>
        <!-- Sidebar -->

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        {% block content%} {% endblock %}
    </main>
    <!--Main layout-->
    <footer>
    	<a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/admi.vginfotec.xyz"><img src="https://seal.beyondsecurity.com/verification-images/admi.vginfotec.xyz/vulnerability-scanner-2.gif" alt="Website Security Test" border="0"></a>
    </footer>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltips.js' %}"></script>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% block js %}
       
    {% endblock js %}
    </body>
</html>